
@{
    ViewBag.Title = "Index";
@*<link rel="stylesheet" href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.5.14.min.css?ver=4.5.14">*@
}
<div>
    <div class="mr-auto pl-2">
        <span class="d-none d-md-inline-block">

            <!-- Dynamic content wrapper -->
            <span id="dynamicContentWrapper-mainNavbar" class="dynamic-content">
                <a alt="Dynamic: Subscribe" id="navbar-jquery-dynamic-newsletter" class="btn btn-dark-green btn-sm my-0" href="#" role="button">
                    <span class="d-none d-lg-inline-block mr-1">Add Vehicle</span><i class="fa fa-envelope"></i>
                </a>
            </span>

            <!--Angular-->
            <a id="navbar-category-gettingstarted-jquery" class="btn btn-info btn-sm my-0 waves-effect waves-light" href="#" role="button">
                <span class="d-none d-lg-inline-block mr-1">Modify data</span>
                <i class="fa fa-download"></i>
            </a>
            <a id="navbar-category-tutorial-jquery" class="btn btn-info btn-sm my-0 waves-effect waves-light" href="#" role="button">
                <span class="d-none d-lg-inline-block mr-1">BIDS</span>
                <i class="fa fa-graduation-cap"></i>
            </a>
            <span id="dynamicContentWrapper-mainNavbar3" class="dynamic-content"><a id="navbar-jquery-category-pro" class="btn btn-unique btn-sm my-0" href="#" role="button"><span class="d-none d-lg-inline-block mr-1">Go Pro</span><i class="fa fa-diamond"></i></a></span>
            <a id="navbar-category-bundle-jquery" class="btn btn-indigo btn-sm my-0 waves-effect waves-light" href="#" role="button">
                <span class="badge red">New</span>
                <span class="d-none d-lg-inline-block mr-1">Old</span>
                <i class="fa fa-gift"></i>
            </a>
        </span>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <img class="img-fluid" src="https://images.pexels.com/photos/170811/pexels-photo-170811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">
                <span class="badge badge-success">BMW</span>
                <span class="badge badge-dark">Model:2016</span>
                <span class="badge badge-info">₹50,000,00</span>
            </h4>
        </div>
    </div>
    <div class="card">
        <img class="img-fluid" src="https://images.pexels.com/photos/93632/pexels-photo-93632.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
        <div class="card-block">
            <span class="badge badge-success">Mercedes</span>
            <span class="badge badge-dark">Model:2017</span>
            <span class="badge badge-info">₹80,000,00</span>
        </div>
    </div>
    <div class="card">
        <img class="img-fluid" src="https://images.pexels.com/photos/100650/pexels-photo-100650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">
                <span class="badge badge-success">BMW</span>
                <span class="badge badge-dark">Model:2015</span>
                <span class="badge badge-info">₹45,000,00</span>
            </h4>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card">
        <img class="img-fluid" src="https://images.pexels.com/photos/100650/pexels-photo-100650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">
                <span class="badge badge-success">BMW</span>
                <span class="badge badge-dark">Model:2015</span>
                <span class="badge badge-info">₹45,000,00</span>
            </h4>
        </div>
    </div>
    <div class="card">
        <img class="img-fluid" src="https://images.pexels.com/photos/93632/pexels-photo-93632.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">
                <span class="badge badge-success">Mercedes</span>
                <span class="badge badge-dark">Model:2015</span>
                <span class="badge badge-info">₹70,000,00</span>
            </h4>
        </div>
    </div>
    <div class="card">
        <img class="img-fluid" src="https://images.pexels.com/photos/170811/pexels-photo-170811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">
                <span class="badge badge-success">BMW</span>
                <span class="badge badge-dark">Model:2014</span>
                <span class="badge badge-info">₹25,000,00</span>
            </h4>
        </div>
    </div>
</div>