
@{
    ViewBag.Title = "AddDeal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="mr-auto pl-2">
        <span class="d-none d-md-inline-block">

            <!-- Dynamic content wrapper -->
            <span id="dynamicContentWrapper-mainNavbar" class="dynamic-content">
                <a alt="Dynamic: Subscribe" id="navbar-jquery-dynamic-newsletter" class="btn btn-dark-green btn-sm my-0" href="#" role="button">
                    <span class="d-none d-lg-inline-block mr-1">Add Vehicle</span><i class="fa fa-envelope"></i>
                </a>
            </span>

            <!--Angular-->
            <a id="navbar-category-gettingstarted-jquery" class="btn btn-info btn-sm my-0 waves-effect waves-light" href="#" role="button">
                <span class="d-none d-lg-inline-block mr-1">Modify data</span>
                <i class="fa fa-download"></i>
            </a>
            <a id="navbar-category-tutorial-jquery" class="btn btn-info btn-sm my-0 waves-effect waves-light" href="#" role="button">
                <span class="d-none d-lg-inline-block mr-1">BIDS</span>
                <i class="fa fa-graduation-cap"></i>
            </a>
            <span id="dynamicContentWrapper-mainNavbar3" class="dynamic-content"><a id="navbar-jquery-category-pro" class="btn btn-unique btn-sm my-0" href="#" role="button"><span class="d-none d-lg-inline-block mr-1">Go Pro</span><i class="fa fa-diamond"></i></a></span>
            <a id="navbar-category-bundle-jquery" class="btn btn-indigo btn-sm my-0 waves-effect waves-light" href="#" role="button">
                <span class="badge red">New</span>
                <span class="d-none d-lg-inline-block mr-1">Old</span>
                <i class="fa fa-gift"></i>
            </a>
        </span>
    </div>
</div><br />
<div id="accordion">
    <h3>Add Deal</h3>
    <div class="row">
        <div class="card-body">
            <div class="form-group">
                <label for="form1">Today’s Live Cars Date</label>
                <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
            </div>
            <div class="form-group">
                <label for="form1">Stock ID</label>
                <input type="text" id="form1" class="form-control">

            </div>
            <div class="form-group">
                <label for="form1">Upload Pictures</label>
                <div class="row fileupload-buttonbar">
                    <div class="col-lg-7">
                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-success fileinput-button">
                            <i class="material-icons">add</i>
                            <span>Add files...</span>
                            <input type="file" name="files[]" multiple="">
                        </span>
                        <button type="submit" class="btn btn-primary start">
                            <i class="material-icons">file_upload</i>
                            <span>Start upload</span>
                        </button>
                        <button type="reset" class="btn btn-warning cancel">
                            <i class="material-icons">cancel</i>
                            <span>Cancel upload</span>
                        </button>
                        <button type="button" class="btn btn-danger delete">
                            <i class="material-icons">delete</i>
                            <span>Delete</span>
                        </button>
                        <input type="checkbox" class="toggle">
                        <!-- The global file processing state -->
                        <span class="fileupload-process"></span>
                    </div>
                    <!-- The global progress state -->
                    <div class="col-lg-5 fileupload-progress fade">
                        <!-- The global progress bar -->
                        <div class="progress progress-sm progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div>
                        <!-- The extended global progress state -->
                        <div class="progress-extended">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="fileupload-wrapper">
                <input type="file" id="input-file-now" class="mdb_upload" />
            </div>
        </div>
    </div>
    <h3>Vehicle Details</h3>
    <div class="row">
        <div class="card-body">
            <form>
                <div class="form-row align-items-center">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label" for="inlineFormMake">1.Make</label>
                            <input type="text" class="form-control" id="inlineFormMake">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="inlineFormModel">2.Model</label>
                            <input type="text" class="form-control mb-2" id="inlineFormModel">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="inlineFormVariant">3.Variant</label>
                            <input type="text" class="form-control mb-2" id="inlineFormVariant">
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="inlineFormManufacturing">4. Year of Manufacturing</label>
                            <input type="text" class="form-control mb-2" id="inlineFormManufacturing">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="inlineFormFuel">5.Fuel Type</label>
                            <input type="text" class="form-control mb-2" id="inlineFormFuel">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="inlineFormKilometers">6.Kilometers</label>
                            <input type="text" class="form-control mb-2" id="inlineFormKilometers">
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="inlineFormTransmission">7. Transmission</label>
                            <input type="text" class="form-control mb-2" id="inlineFormTransmission">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="inlineFormRegistration">8.Registration No.</label>
                            <input type="text" class="form-control mb-2" id="inlineFormRegistration">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <h3>Document Details</h3>
    <div class="row">
        <div class="card-body">
            <form>
                <div class="form-row align-items-center">
                    <div class="col-4">
                        <div class="form-group form-check-inline">
                            <label>1.RC availability</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
                            <label class="form-check-label" for="materialInline1">Yes</label>
                        </div>
                        /
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
                            <label class="form-check-label" for="materialInline2">No</label>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="form-group form-check-inline">
                            <label>2.Hypothication </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
                            <label class="form-check-label" for="materialInline1">Yes</label>
                        </div>
                        /
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
                            <label class="form-check-label" for="materialInline2">No</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group form-check-inline">
                            <label>3.If Yes: </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
                            <label class="form-check-label" for="materialInline1">NOC available</label>
                        </div>
                        /
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
                            <label class="form-check-label" for="materialInline2">NOC not available</label>
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="owners">4.No. of owners</label>
                            <input type="text" class="form-control mb-2" id="owners">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="Keys">5.No.of Keys</label>
                            <input type="text" class="form-control mb-2" id="Keys">
                        </div>
                    </div>
                </div>

                <div class="form-row align-items-center">
                    <div class="col-4">
                        <div class="form-group form-check-inline">
                            <label>6.Insurance:</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
                            <label class="form-check-label" for="materialInline1">Yes</label>
                        </div>
                        /
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
                            <label class="form-check-label" for="materialInline2">No</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group form-check-inline">
                            <label>a. If Yes :</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
                            <label class="form-check-label" for="materialInline1">Comprehensive</label>
                        </div>
                        /
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
                            <label class="form-check-label" for="materialInline2">Third Party </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="date-picker-example1">b. Expiry Date:</label>
                            <input type="text" id="date-picker-example1" class="form-control datepicker">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <h3>Technical Details</h3>
    <div class="row">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="Engine">1.Engine</label>
                    <input type="text" class="form-control mb-2" id="Engine">
                </div>
                <div class="form-group">
                    <label for="Body">2.Body</label>
                    <input type="text" class="form-control mb-2" id="Body">
                </div>
                <div class="form-group">
                    <label for="Steering">3.Suspension & Steering System</label>
                    <input type="text" class="form-control mb-2" id="Steering">
                </div>
                <div class="form-group">
                    <label for="Transmission">4.Transmission</label>
                    <input type="text" class="form-control mb-2" id="Transmission">
                </div>
                <div class="form-group">
                    <label for="Electrical">5.Electrical</label>
                    <input type="text" class="form-control mb-2" id="Electrical">
                </div>
                <div class="form-group">
                    <label for="AC">6.AC </label>
                    <input type="text" class="form-control mb-2" id="AC">
                </div>
                <div class="form-group">
                    <label for="Brakes">7.Brakes</label>
                    <input type="text" class="form-control mb-2" id="Brakes">
                </div>
                <div class="form-group">
                    <label for="Condition">8.Tyres Condition</label>
                    <input type="text" class="form-control mb-2" id="Condition">
                </div>
                <div class="form-group">
                    <label for="Information">9. Other Information (if any) </label>
                    <input type="text" class="form-control mb-2" id="Information">
                </div>
                <div class="form-group">
                    <a class="h4" href="#">Click here to BID</a>
                </div>
            </form>
        </div>
    </div>
</div>
